.list{
    list-style-type: none;
}
.link{
    text-decoration: none;
}
button{
    cursor: pointer;
}
body{
    font-family: Roboto, sans-serif;
    color:#434455;
    background-color: #FFFFFF;
}

.contact_info{
    font-style: normal;}
    
.logotype{
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase; 
    color: #4d5ae5; 
}
.span-logo {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
}
.menu-link{
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2E2F42;
}
.menu-link:hover,
.menu-link:focus {
    color:#404BBF;
}
p{
    color: #434455;
}
h3{
font-family: Roboto, sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.11;
    letter-spacing: 0.03em;
    color: #2E2F42;
}